/* basic css */

* {
    text-align: center;
    color: black;
}

/*Element selector*/
img {
    width: 350px;
    height: 200px;
}

/*Class selector*/
.myClass {
    font-style: italic;
}

/*Element selector*/
p {
    margin: auto;
    width: 30%;
    animation-name: animationEg;
    animation-duration: 4s;
    border: 1px solid grey;
  }
  
@keyframes animationEg {
    from {background-color: green;}
    to {background-color: red;}
}

#myHeader {
    margin: auto;
    width: 70%;
}
/*ID selector*/
#myBtn:hover {
  background-color: yellow;
}